/*a {*/
/*-webkit-transition-property: background-color, color;*/
/*-webkit-transition-duration: .4s, .5s;*/
/*-webkit-transition-timing-function: ease, ease;*/
/*-moz-transition-property: background-color, color;*/
/*-moz-transition-duration: .4s, .5s;*/
/*-moz-transition-timing-function: ease, ease;*/
/*-ms-transition-property: background-color, color;*/
/*-ms-transition-duration: .4s, .5s;*/
/*-ms-transition-timing-function: ease, ease;*/
/*-o-transition-property: background-color, color;*/
/*-o-transition-duration: .4s, .5s;*/
/*-o-transition-timing-function: ease, ease;*/
/*transition-property: background-color, color;*/
/*transition-duration: .4s, .5s;*/
/*transition-timing-function: ease, ease;*/
/*}*/
/*a,a:focus,a:hover{*/
/*text-decoration:none;*/
/*outline:none;*/
/*}*/
::selection {
    background: #4B6086;
    color: #ffffff;
}

#header {
    margin: 20px 0px;
    height: 80px;
    width: 100%;
    background-color: rgb(235, 235, 233);
}

#header .logo {
    line-height: 70px;
}

#header .top_menu {
    text-align: center;
    background-color: rgb(235, 235, 233);
    min-height: 50px;
}


#header_nav ul.first_menu {
}

#header .top_menu ul ul, .top_menu ul li:hover > ul, .top_menu ul li:hover a i, .top_menu ul li a i, .top_menu ul ul li a:hover {
    -moz-transition: all .25s ease-in-out;
    -webkit-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
}

#header .top_menu ul ul li a {
    padding: 0px;
}

/*.top_menu ul li:hover > ul {*/
/*margin-top:0px;*/
/*opacity: 1!important;*/
/*visibility: visible;*/
/*}*/

#header .top_menu ul > li:hover > ul {
    visibility: visible;
    opacity: 1;
    margin-top: 0px;
}

#header .top_menu ul {
    padding: 0px;
    border-radius: 10px;
    list-style: none;
    position: relative;
    /*margin:0px auto;*/
    /*width: 530px;*/
    margin-bottom: 0px;
    z-index: 5;
    float: right;
}

#header .top_menu ul:after {
    content: "";
    clear: both;
    display: block;
}

#header .top_menu ul li {
    float: left;
}

#header .top_menu ul li:hover {
}

#header .top_menu ul li:hover a {
    color: #000000;
}

#header .top_menu ul li:hover a i {
    -webkit-transform: rotate(540deg);
}

#header .top_menu ul li a {
    display: block;
    padding: 25px 25px;
    color: #808080;
    text-decoration: none;
    font-size: 16px;
}

#header .top_menu ul ul {
    width: 150px;
    /*border: 1px solid #cccccc;*/
    border-radius: 5px;
    padding: 0;
    position: absolute;
    opacity: 0;
    top: 100%;
    visibility: hidden;
    margin-top: 30px;
    background-color: rgba(245, 245, 245, 0.8);
    box-shadow: 0px 1px 8px 1.5px rgba(0, 0, 0, 0.3), 0px 10px 50px 5px rgba(0, 0, 0, 0.2);
}

#header .top_menu ul ul:after {
    position: absolute;
    content: "";
    display: block;
    top: -10px;
    left: 50px;
    width: 0;
    height: 0;
    font-size: 0;
    border: 10px solid transparent;
    border-bottom-color: rgba(255, 255, 255, 0.9);
    border-top: 0;
    overflow: hidden;
    -webkit-transform: translateZ(0);
    -webkit-filter: drop-shadow(0 -2px 2px rgba(0, 0, 0, .2));
    -moz-filter: drop-shadow(0 -2px 2px rgba(0, 0, 0, .2));
    -o-filter: drop-shadow(0 -2px 2px rgba(0, 0, 0, .2));
    filter: drop-shadow(0 -2px 2px rgba(0, 0, 0, .2));
}

#header .top_menu ul ul li {
    float: none;
    position: relative;
}

#header .top_menu ul ul li a {
    font-size: 14px;
    padding: 15px 20px;
    color: #808080;
    border-top: 1px solid rgba(255, 255, 255, 0.9);
    border-bottom: 1px solid rgb(235, 235, 233);
}

#header .top_menu ul ul li:first-child a {
    border-radius: 5px 5px 0 0;
}

#header .top_menu ul ul li:last-child a {
    border-radius: 0 0 5px 5px;
}

#header .top_menu ul ul li a:hover {
    background-color: rgba(0, 0, 0, 0.08);
    border-top: 1px solid #d8d8d8;
    border-bottom: 1px solid #d5d5d5;
}

#header .top_menu ul ul ul {
    position: absolute;
    left: 100%;
    top: 0;
}


body {
    background: #ebebeb !important;
}

#sidebar .sidebar-inside {
    background-color: #fff;
    margin-top:10px;
    padding: 20px 60px 60px;
    height: 800px;
}

.clear {
    clear: both;
}

body .content {
    padding: 20px 0px 40px;
}

body .container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 20px;
    padding-right: 20px;
}

body .content article,.sidebar-inside {

    border-radius: 5px;
    box-shadow: 0px 1px 8px 1.5px rgba(0, 0, 0, .35), 0px 20px 70px 8px rgba(0, 0, 0, 0.25);

}

body article {
    display: block;
    margin: 0px 0px 60px;
    overflow: hidden;
    border-radius: 5px 5px 0 0 !important;
}

article .article-img {
    overflow: hidden;
    position: relative;
}

article .article-img a {
    display: block;
    text-align: center;
    position: relative;
}

article .article-about {
    padding: 40px 60px 20px;
    background-color: #fff;
    position: relative;
    margin-right: auto;
    margin-left: auto;
}

article .post-meta{
    background: #F9F9F9;
    padding: 15px 60px;
}

article .post-meta span{
    padding-right: 40px;
    float: left;
    display: block;
}

article .post-meta span i{
    font-size: 18px;
    padding-right: 5px;
}

article .post-meta span a{
    color: #999;
    font-weight: 700;
    webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

article .post-meta span a:hover{
    color: #13C4A5;
    text-decoration: none;
}



.sidebar-inside{
    border-radius: 5px 5px 0 0 !important;
}

/**/
.foot_box {
    border-top: 1px solid #cccccc;
    width: 100%;
    background: #ffffff;
    height: 100px;

}

.foot_box .navy-bg {
    padding-top: 40px;
    text-align: center;
    font-size: 12px;
}

/*scroll css*/
::-webkit-scrollbar {
    width: 20px;
    height: 14px;
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-thumb {
    border-radius: 999px;
    border: 5px solid transparent;
}

::-webkit-scrollbar-track {
    box-shadow: 0px 0px 5px rgba(150, 152, 157, 0.78) inset;
}

::-webkit-scrollbar-thumb {
    min-height: 20px;
    background-clip: content-box;
    box-shadow: 0 0 0 5px rgba(86, 123, 160, 0.72) inset;
}

::-webkit-scrollbar-corner {
    background: transparent;
}


