#header.background-n1{background-image:url("images/overlay-lba.png"),url("backgrounds/01.jpg");}
#header.background-n2{background-image:url("images/overlay.png"),url("backgrounds/02.jpg");}
#header.background-n3{background-image:url("images/overlay-lba-x2.png"),url("backgrounds/03.jpg");}
#header.background-n4{background-image:url("images/overlay.png"),url("backgrounds/04.jpg");}
#header.background-n5{background-image:url("images/overlay-lba-x2.png"),url("backgrounds/05.jpg");}
#header.background-n6{background-image:url("images/overlay-lba-x2.png"),url("backgrounds/06.jpg");}
#header.background-n7{background-image:url("images/overlay-lba.png"),url("backgrounds/07.jpg");}
#header.background-n8{background-image:url("images/overlay-lba-x2.png"),url("backgrounds/08.jpg");}
#header.background-n9{background-image:url("images/overlay.png"),url("backgrounds/09.jpg");}
#header.background-n10{background-image:url("images/overlay-lba.png"),url("backgrounds/10.jpg");}